@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  html.dark {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    color-scheme: dark;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
